<div class="app-content content">
    <div class="content-wrapper">
      <!-- <div >
        <h4 class="card-title" id="basic-layout-card-center" style="color:grey">Category(Add/Edit)</h4>
    </div> -->
        <div class="content-body">
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <!-- <div class="card">
                        
                        <div class="card-content collapse show">
                            <div class="card-body"> -->
                                <!-- <form  (ngSubmit)="onSubmit()" [formGroup]="form"> -->
                                    
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-12">
                                            <div class="form-body">
                                                <div class="row">
                                                   
                                                    <div class="col-xl-3 col-lg-6 col-12" >
                                                        <div class="card pull-up">
                                                          <div class="card-content">
                                                            <div class="card-body card_padding">
                                                              <div class="media d-flex">
                                                                <div class="media-body text-left">
                                                                  <h3 class="info">{{this.totalAdmins}}</h3>
                                                                  <h6>Total Admins </h6>
                                                                </div>
                                                                <div>
                                                                  <i class="icon-user info font-large-2 float-right"></i>
                                                                </div>
                                                              </div>
                                                              <div class="mb-0 mt-1">
                                                                <ngb-progressbar height="7px" width="100%" type="gradient-x-info" [value]="80"></ngb-progressbar>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div> 
<div class="col-xl-3 col-lg-6 col-12" >
    <div class="card pull-up">
      <div class="card-content">
        <div class="card-body card_padding">
          <div class="media d-flex">
            <div class="media-body text-left">
              <h3 class="info">{{this.totalCategories}}</h3>
              <h6>Total Categories </h6>
            </div>
            <div>
              <i class=" icon-grid info font-large-2 float-right"></i>
            </div>
          </div>
          <div class="mb-0 mt-1">
            <ngb-progressbar height="7px" width="100%" type="gradient-x-info" [value]="80"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
  </div>   

                                                        
<div class="col-xl-3 col-lg-6 col-12" >
    <div class="card pull-up" >
      <div class="card-content">
        <div class="card-body card_padding">
          <div class="media d-flex">
            <div class="media-body text-left">
                
              <h3 class="info" >{{this.totalProducts}}</h3>
              <h6>Total Products </h6>
            </div>
            <div>
              <i class="icon-social-dropbox info font-large-2 float-right"></i>
            </div>
          </div>
          <div class="mb-0 mt-1">
            <ngb-progressbar height="7px" width="100%" type="gradient-x-info" [value]="80"></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
  </div>                                             
                                                 

                                                    

                                                </div>
                                            
    <!-- <div class="row">

        <tr *ngFor="let item of showProducts index as i">
        <td>{{item.pro_Name}}</td>
        <td ><img [src]="'data:image/jpeg;base64,' + item.pro_ImageView" style="width:100px;height:100px"/> </td>

        </tr>
    </div> -->
                                                   <!-- {{form.value | json}}  -->
                                                
                                            </div>
                                        </div>
                                    </div>
                                   
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div>
    </div>
</div> -->

            











  
