<div class="app-content content">
    <div class="content-wrapper">
      <div >
        <h4 class="card-title" id="basic-layout-card-center" style="color:grey">User Feedback</h4>
    </div>
        <div class="content-body">
            <div class="row">
              <div class="col-9">
                <div class="card">
                  <div class="card-content">
                    <div class="table-responsive">
                      <table class="table table-bordered mb-0  table-sm table-responsive">
                          <!-- <thead>
                            <tr>
                                <th scope="col" style="width:5%;" class="text-center">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Desc</th>
                                <th scope="col">Image</th>
                                <th scope="col">Category</th>
                                 <th scope="col" style="width:10%;" class="text-center">Action</th>
                                  <th scope="col" style="width:10%;" class="text-center">Status</th>
                            </tr>
                          </thead> -->
                          <tbody>
                            <tr *ngFor="let item of feedbacks index as i" >
                              <th scope="row">{{ i + 1 }}</th>
                              
                              <br>
                              <br>
                              <div class="row">
                                <div class="col-md-6">
                                  <b style="font-size:17px">Name:</b> {{ item.userName }} 
                                 </div>
                                 <br>
                                 <div class="col-md-6">
                                 <b style="font-size:17px"> User Email:</b>{{ item.userEmail }} 
                                 </div>
                                 </div>
                              
                              <br>
                              <div class="col-md-12">
                               <b style="font-size:17px">Feedback:</b> {{ item.feedBackText }} 
                              </div>
                              <br>
                              <div class="col-md-12">
                               <b style="font-size:17px">Date:</b>{{ item.feedBackDate }} 
                              </div>
                              <br>
                            <br>
                            </tr>
                            <br>
                            <br>
                            </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>



